<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <div th:insert="fragments/bootstrap/bootstrap :: bootstrap"></div>
</head>
<body>
<div>
    <button type="button" class="btn btn-primary btn-lg btn-block" value="Home Screan" onclick="location.href='http://localhost:8080/design'">pizza order</button>
</div>
<div>
<h1>Welcome to...</h1>
<img th:src="@{/images/Pizza_Cloud.png}" alt="..." src="#"/>
</div>

</body>
</html>
