# Created by .ignore support plugin (hsz.mobi)
# IntelliJ project files
build
.idea
*.iml
*.mv.db
*.trace.db
logs
out
gen
base-spring/src/main/resources/configuration.properties
docs/index.html
docs/index.pdf

### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle-wrapper.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*~
.DS_Store
*.log

# asciidoc
.asciidoctor

# Python virtual environment and cache
venv
__pycache__

# Gradle
.gradle
gradle/