<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:action="@{/users/edit}" method="post">
    <div class="d-flex flex-column">
        <div class="input-group input-group-sm p-5 d-flex justify-content-center">
            <input name="username" type="text" value="${user.username}" class="form-control" style='min-width: 5%; max-width: 20%'
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <button type="submit" class="btn btn-outline-success" style="width: 10%">Search</button>
        </div>
    </div>
</form>
</body>
</html>