<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <div th:insert="fragments/header :: header"></div>
</head>
<body>
<div class="d-flex flex-column">
    <div class="input-group input-group-sm p-5 d-flex justify-content-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th><span th:text="${user.id}"></span></th>
            <th><span th:text="${user.name}"></span></th>
            <th><span></span></th>
        </tr>
    </div>
</div>
</body>
</html>