<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <div th:insert="fragments/bootstrap :: bootstrap"></div>

</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="p-4 text-center">User Edit</div>
<div class="text-danger mb-4 d-flex justify-content-center" th:if="${userExists}">
    <span th:text="${userExists}"></span>
</div>

<form th:action="@{updateUsername/{userId}(userId=${user.id})}" method="post">
    <div class="text-center mt-5">Your username: <span th:text="${user.username}"></span></div>
    <div class="d-flex flex-column ">
        <div class="input-group-sm p-3 d-flex justify-content-center">
            <span class="input-group-text" id="inputGroup-sizing-sm">New username</span>
            <input name="username" type="text" class="form-control" style='min-width: 10%; max-width: 30%'
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
    </div>
    <div class="d-flex flex-column p-3">
        <div class="p-1 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success" style="width: 10%">Save username</button>
        </div>
    </div>
</form>

<form th:action="@{updatePassword/{userId}(userId=${user.id})}" method="post">
    <div class="input-group-sm p-3 mt-5 d-flex justify-content-center">
        <span class="input-group-text" id="inputGroup-sizing-sm">New password</span>
        <input name="password" type="text" class="form-control" style='min-width: 10%; max-width: 30%'
               aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="d-flex flex-column p-3">
        <div class="p-1 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success" style="width: 10%">Save password</button>
        </div>
    </div>
</form>

<div class="mt-5 p-3 text-center">Role Edit</div>
<form th:action="@{updateRole/{userId}(userId=${user.id})}" method="post">
    <div class="input-group-sm p-1 d-flex justify-content-center">
        <div class="form-check px-4">
            <input class="form-check-input" th:checked="${user.user}" name="role"
                   type="radio" id="USER" value="USER">
            <label class="form-check-label" for="USER">USER</label>
        </div>
        <div class="form-check px-4">
            <input class="form-check-input" th:checked="${user.provider}" name="role"
                   type="radio" id="PROVIDER" value="PROVIDER">
            <label class="form-check-label" for="PROVIDER">PROVIDER</label>
        </div>
        <div class="form-check px-4">
            <input class="form-check-input" th:checked="${user.admin}" name="role"
                   type="radio" id="ADMIN" value="ADMIN">
            <label class="form-check-label" for="ADMIN">ADMIN</label>
        </div>
    </div>
    <div class="d-flex p-4 flex-column">
        <div class="p-1 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success" style="width: 10%">Save role</button>
        </div>
    </div>
</form>

<div class="mt-5 d-flex justify-content-center">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Delete profile
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete profile?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    Are you sure what you want to delete the profile? this action cannot be canceled
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Cancel</button>
                    <form th:action="@{deleteUser/{userId}(userId=${user.id})}" method="get">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>