<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    <div th:insert="fragments/bootstrap :: bootstrap"></div>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="p-5 text-center">Add Product</div>
<form th:action="@{/product/add}" method="post">
    <div class="d-flex flex-column">
        <div class="input-group input-group-sm mb-3 d-flex justify-content-center">
            <span class="input-group-text">Name</span>
            <input name="name" type="text" class="form-control" style='min-width: 20%; max-width: 70%'>
        </div>
        <div class="input-group input-group-sm mb-3 d-flex justify-content-center">
            <span class="input-group-text">Price</span>
            <input name="price" type="text" class="form-control" style='min-width: 20%; max-width: 70%'>
        </div>
        <div class="input-group input-group-sm mb-3 d-flex justify-content-center">
            <span class="input-group-text">description</span>
            <input name="description" type="text" class="form-control" style='min-width: 20%; max-width: 70%'>
        </div>
        <div class="input-group-sm p-5 d-flex justify-content-center">
            <div class="form-check px-4">
                <input class="form-check-input" name="role"
                       type="radio" id="PHONE" value="PHONE">
                <label class="form-check-label" for="PHONE">PHONE</label>
            </div>
            <div class="form-check px-4">
                <input class="form-check-input" name="role"
                       type="radio" id="PC" value="PC">
                <label class="form-check-label" for="PC">PC</label>
            </div>
            <div class="form-check px-4">
                <input class="form-check-input" name="role"
                       type="radio" id="TABLET" value="TABLET">
                <label class="form-check-label" for="TABLET">TABLET</label>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-success" style="width: 10%">Save</button>
        </div>
    </div>
</form>
</body>
</html>